.app {
  text-align: center;
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
  background: #e7f3ff;
  min-height: 100vh;
}

.title {
  margin-bottom: 20px;
}

.search-container {
  margin-bottom: 20px;
}

.search-input {
  padding: 8px 12px;
  width: 200px;
  border-radius: 6px;
  border: 1px solid #aaa;
}

.search-btn {
  padding: 8px 12px;
  margin-left: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.card {
  background: white;
  padding: 20px;
  margin: 0 auto;
  width: 260px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* Week Forecast Layout */
.week-container {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 25px;
  flex-wrap: wrap;
}

.day-card {
  width: 140px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

